[board_pins erb_picommu]
mcu: ERB
aliases:

    # Feed motor
    FEED_STEP=gpio16,
    FEED_DIR=gpio15,
    FEED_EN=gpio14,
    FEED_UART=gpio17,

    # Lane load sensors
    LOAD1=gpio12,
    LOAD2=gpio3,
    LOAD3=gpio6,
    LOAD4=gpio27,
    LOAD5=gpio24,
	
    # Lane trigger sensors
    TRIG1=gpio4,
    TRIG2=gpio5,
    TRIG3=gpio7,
    TRIG4=gpio26,
    TRIG5=gpio28,

    # Hub sensor
    HUB=gpio25,

    # Servo selector
    SERVO=gpio23,

    # Turtleneck
    TN_ADV=gpio2,
    TN_TRL=gpio18,

    # RGB
    RGB1=gpio21
