[board_pins erb_picommu]
mcu: ERB
aliases:

    # Feed motor
    M1_STEP=gpio16 ,
    M1_DIR=gpio15 ,
    M1_EN=gpio14 ,
    M1_UART=gpio17 ,
	# M1_DIAG=PA3 , 
	M2_STEP=gpio10 , 
	M2_DIR=gpio9 , 
	M2_EN=gpio8 , 
	M2_UART=gpio11 , 
	# M2_DIAG=PA4 ,

    # Lane load sensors
    EXT1=gpio12,
    EXT2=gpio3,
    EXT3=gpio6,
    EXT4=gpio27,
    EXT5=gpio24,
	
    # Lane trigger sensors
    TRG1=gpio4,
    TRG2=gpio5,
    TRG3=gpio7,
    TRG4=gpio26,
    TRG5=gpio28,

    # Hub sensor
    HUB=gpio25,

    # Servo selector
    SERVO=gpio23,

    # Turtleneck
    TN_ADV=gpio2,
    TN_TRL=gpio18,

    # RGB
    RGB1=gpio21,
	RGB2=gpio29,

	# UNUSED
	Extra1=gpio19,
	Extra2=gpio22
	
	
